.background-hero {
  background-image: url('./images/desktop/image-header.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cherry-bg {
  background-image: url('./images/mobile/image-graphic-design.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
}
.orange-bg {
  background-image: url('./images/mobile/image-photography.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
}

@media only screen and (min-width: 1200px) {
  .cherry-bg {
    background-image: url('./images/desktop/image-graphic-design.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 85vh;
  }
  .orange-bg {
    background-image: url('./images/desktop/image-photography.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 85vh;
  }

  .reverse-column {
    flex-direction: row-reverse;
    display: flex;
  }
}

@media only screen and (max-width: 600px) {
  .reverse-column {
    flex-direction: column-reverse;
    display: flex;
  }
  .reverse-column-only {
    flex-direction: column-reverse;
    display: flex;
  }
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
